= simple_form_for(@group || MessageGroup.new, url: groups_path, html: {class: 'form-group'}) do |f|
  .inpu
  = f.error_notification
  = f.input :name
  .d-flex.flex-row-reverse
    = f.submit '作成', class: 'btn btn-primary'