%h2=@group.name
%hr
#messages
  - @group.messages.each do |message|
    %div= message.name
    %div
      %p=message.message

= simple_form_for(@message || Message.new) do |f|
  = f.input :name
  %br
  = f.input :message
  = f.submit '投稿', class: 'btn btn-primary'